## Titanic - Machine Learning from Disaster
Source: https://www.kaggle.com/competitions/titanic/overview

### A. Problem Definition
* Create machine learning to create a model that predicts which passengers survived the Titanic shipwreck.
* In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc

### B. Dataset
The datasets include passenger information like `name`, `age`, `gender`, `socio-economic class`, etc. One dataset is titled `train.csv` and the other is titled `test.csv`.

* The `Train.csv will contain the details of a subset of the passengers on board (891 to be exact) and importantly, will reveal whether they survived or not, also known as the “ground truth”.

* The `Test.csv` dataset contains similar information but does not disclose the “ground truth” for each passenger. It’s your job to predict these outcomes.

* Using the patterns you find in the `train.csv` data, predict whether the other 418 passengers on board (found in `test.csv`) survived.

Check out the “Data” tab to explore the datasets even further. Once you feel you’ve created a competitive model, submit it to Kaggle to see where your model stands on our leaderboard against other Kagglers.

**The data has been split into two groups:**

* `training set (train.csv)`
* `test set (test.csv)`
The training set should be used to build your machine learning models. For the training set, we provide the outcome (also known as the “ground truth”) for each passenger. Your model will be based on “features” like passengers’ gender and class. You can also use feature engineering to create new features.

The test set should be used to see how well your model performs on unseen data. For the test set, we do not provide the ground truth for each passenger. It is your job to predict these outcomes. For each passenger in the test set, use the model you trained to predict whether or not they survived the sinking of the Titanic.

We also include gender_submission.csv, a set of predictions that assume all and only female passengers survive, as an example of what a submission file should look like.

### C. Data Dictionary

1. `survival`	Survival	0 = No, 1 = Yes
2. `pclass`	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
3. `sex`	Sex
4. `Age`	Age in years
5. `sibsp`	# of siblings / spouses aboard the Titanic
6. `parch`	# of parents / children aboard the Titanic
7. `ticket`	Ticket number
8. `fare`	Passenger fare
9. `cabin`	Cabin number
10. `embarked`	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

### D. Evaluation
**Goal**<br>
It is your job to predict if a passenger survived the sinking of the Titanic or not.
For each in the test set, you must predict a 0 or 1 value for the variable.

**Metric**<br>
Your score is the percentage of passengers you correctly predict. This is known as accuracy (https://en.wikipedia.org/wiki/Accuracy_and_precision#In_binary_classification)

## 1. Import Machine Learning Library

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## 2. Data Sctructure

In [11]:
df = pd.read_csv('datasets/titanic/train.csv')

In [13]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q